// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
.change-leave {
    opacity: 1;
}

.change-leave-active {
    transition: opacity 0.5s;
}

.change-leave-to {
    opacity: 0;
}

.change-enter {
    opacity: 0;
}

.change-enter-active {
    transition: opacity 0.5s;
}

.change-enter-to {
    opacity: 1;
}

.datepicker-label {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: normal;
}

.datepicker {
    border-bottom: 1px solid;
    padding: 0 0 5px 0;
    font-size: 16px;
}

.datepicker input {
    width: 100%;
    outline: none;
}

.v-dialog {
    overflow: visible !important;
    max-width: 800px !important;
}

.v-data-table__wrapper {
    margin: 30px 0 0 0 !important;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    white-space: nowrap !important;
}

.v-application .indigo {
    background: #d5418d !important;
}

.search-text-field {
    width: 160px;
    position: absolute;
}

.v-data-table>.v-data-table__wrapper .v-data-table__mobile-row {
    white-space: pre-line !important;
}

.v-application .text-start {
    white-space: pre-line !important;
}

.v-application--is-ltr .v-data-table__mobile-row__cell {
    width: 70%;
    text-align: left;
}

.action-btn {
    background: #949494;
    color: #fff !important;
    padding: 4px !important;
    border-radius: 4px !important;
    display: inline-block !important;
    // width: auto;
    // display: inline-block !important;
    // display: compact !important;
    // margin: 5px 0 0px 5px !important;
    text-decoration: none;
    transition: 0.2s all;
}

.action-btn:hover {
    text-decoration: none;
    opacity: 0.85;
}

.copy-tel-text {
    opacity: 0;
}

// h5 {}
@media only screen and (max-width: 480px) {
    h5 {
        font-size: 14px;
        // margin: 0 0 20px 0 !important;
    }
    // .search-text-field {
    //     position: relative;
    //     top: 10px;
    // }
}